############################
# Dependencies
############################

node_modules/

############################
# Environment Variables
############################

.env
.env.*
!.env.example

############################
# Build Output
############################

dist/
build/
out/
release/

############################
# Logs
############################

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

############################
# Cache
############################

.cache/
.parcel-cache/
.vite/
.next/
.nuxt/

############################
# IDE
############################

.vscode/
.idea/

############################
# Operating Systems
############################

.DS_Store
Thumbs.db
desktop.ini

############################
# Temporary Files
############################

tmp/
temp/
*.tmp
*.bak
*.swp

############################
# Rust
############################

target/

############################
# Android
############################

.gradle/
local.properties
*.keystore
*.jks

############################
# Electron
############################

electron-builder-cache/

############################
# Runtime
############################

*.pid
*.seed
